.buscador-lista {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 1000;
    max-height: 50vh;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    border-radius: 0 0 6px 6px;
}

.buscador-item{
    padding: 8px 12px;
    cursor: pointer;
}

.buscador-item:hover, .buscador-item.active {
    background: #f5f5f5;
}