.btn-filtro {
  margin: auto;
}

.icon-primary mat-icon {
  color: var(--color-principal);
}

.icon-primary:hover mat-icon {
  color: var(--color-hover);
}

.icon-error mat-icon {
  color: var(--color-error);
}

.icon-error:hover mat-icon {
  color: var(--color-error-hover);
}