<div class="d-flex justify-content-center align-items-center bg-light" style="height: 100vh;">
  <div class="card shadow p-4" style="width: 80%; max-width: 400px;">
    <h3 class="text-center mb-4 texto-primary">Registro</h3>
    <form>
        <div class="mb-3">
            <label class="form-label">Ingrese su nombre</label>
            <input type="text" class="form-control" placeholder="Nombre completo">
        </div>
        <div class="mb-3">
            <label class="form-label">Ingrese su e-mail</label>
            <input type="email" class="form-control" placeholder="E-mail">
        </div>
        <div class="mb-3">
            <label class="form-label">Ingrese su contraseña</label>
            <input type="password" class="form-control" placeholder="Contraseña">
        </div>
        <div class="mb-3">
            <label class="form-label">Confirmar contraseña</label>
            <input type="password" class="form-control" placeholder="Repetir contraseña">
        </div>
      <button type="button" class="btn-color w-100">Registrarme</button>
    </form>
    <div class="text-center mt-3">
      <a routerLink="/login" class="d-block texto-primary">Iniciar sesión</a>
    </div>
  </div>
</div>
