<div class="d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #328A76;">
  <div class="card shadow p-4" style="width: 80%; max-width: 400px;">
    <h3 class="text-center mb-4 texto-primary">Registro</h3>
    <form (ngSubmit)="onRegister()">   
        @if (paso === 1) {
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control" placeholder="Ingrese su nombre" required>
            </div>
            <div class="mb-3">
                <label class="form-label">E-mail</label>
                <input [(ngModel)]="email" name="email" type="email" class="form-control" placeholder="Ingrese su e-mail" required>
            </div>
            <div>
                <button type="button" class="btn-color w-100" (click)="siguiente()">Siguiente</button>
            </div>
        }
        @else if(paso === 2){
            <div class="mb-3">
                <label class="form-label">Teléfono</label>
                <input [(ngModel)]="telefono" name="telefono" type="text" class="form-control" placeholder="Ingrese su teléfono" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Fecha de nacimiento</label>
                <input [(ngModel)]="fechaNacimiento" name="fechaNacimiento" type="date" class="form-control" required>
            </div>
            <div class="contenedor-btn">
                <button type="button" class="btn btn-secondary" (click)="atras()">Atrás</button>
                <button type="button" class="btn-color" (click)="siguiente()">Siguiente</button>
            </div>
        } 
        @else {
            <div class="mb-3">
            <label class="form-label">Ingrese su contraseña</label>
            <input [(ngModel)]="contrasenia" name="contrasenia" type="password" class="form-control" placeholder="Contraseña" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Confirmar contraseña</label>
                <input [(ngModel)]="confirmarContrasenia" name="confirmarContrasenia" type="password" class="form-control" placeholder="Repetir contraseña" required>
                @if(confirmarContrasenia && contrasenia !== confirmarContrasenia) {
                    <p style="color: red;">Las contraseñas no coinciden</p>
                }
            </div>
            <div class="contenedor-btn">
                <button type="button" class="btn btn-secondary" (click)="atras()">Atrás</button>
                <button type="submit" class="btn-color w-100">Registrarme</button>
            </div>
        }

    </form>
    <div class="text-center mt-3">
      <a routerLink="/login" class="d-block texto-primary">Iniciar sesión</a>
    </div>
  </div>
</div>