.nav-item a:hover{
  text-decoration: underline;
}

.offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgb(84 201 172);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1051;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 1050;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: auto;
}