.navbar {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #328A76;
  z-index: 2000;
}

.btn-outline-light:hover{
    color: #328A76;
}

@media (max-width: 600px) {
  #btnCerrarSesion {
    display: none;
  }
}
