<div class="d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #328A76;">
  <div class="card shadow p-4" style="width: 80%; max-width: 400px;">
    <h3 class="text-center mb-4 texto-primary">Iniciar sesión</h3>
    <form (ngSubmit)="login()">
      <div class="mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>E-mail</mat-label>
          <input matInput [(ngModel)]="usuario" name="usuario" required placeholder="Ingrese su usuario">
        </mat-form-field>
      </div>
      <div class="mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Contraseña</mat-label>
          <input matInput [(ngModel)]="contrasenia" name="contrasenia" type="password" required placeholder="Ingrese su contraseña">
        </mat-form-field>
      </div>
      <button type="submit" class="btn btn-color-principal w-100">Ingresar</button>
    </form>
    <div class="text-center mt-3">
      <a routerLink="/registro" class="d-block texto-primary">¿No tenés cuenta? Registrate</a>
      <a routerLink="/recuperarContrasenia" class="d-block texto-primary">¿Olvidaste tu contraseña?</a>
    </div>
  </div>
</div>