<div class="sidebar-overlay" [class.open]="abierto" (click)="cerrar.emit()"></div>
<div class="sidebar" [class.open]="abierto">
    <div class="sidebar-content" (click)="$event.stopPropagation()">
        <ul class="list-unstyled">
            <li>
                <div class="item-menu">
                    <a routerLink="/inicio/calendario" (click)="cerrar.emit()">Calendario</a>
                </div>
            </li>
            <li>
                <div class="item-menu" (click)="cambioMenu('citas')">Citas</div>
                <div class="sub-item" [class.show]="submenuAbierto === 'citas'">
                    <div><a routerLink="/inicio/nuevaCita" class="item" (click)="cerrar.emit()">Nueva</a></div>
                    <div><a routerLink="/inicio/consultaCitas" class="item" (click)="cerrar.emit()">Consultar</a></div>
                </div>
            </li>
            
            @if(esAdminProfesional()) {
                <li>
                    <div class="item-menu" (click)="cambioMenu('pacientes')">Pacientes</div>
                    <div class="sub-item" [class.show]="submenuAbierto === 'pacientes'">
                        <div><a routerLink="/inicio/nuevoPaciente" class="item" (click)="cerrar.emit()">Nuevo</a></div>
                        <div><a routerLink="/inicio/consultaPacientes" class="item" (click)="cerrar.emit()">Consultar</a></div>
                        <div><a routerLink="/inicio/historialClinico" class="item" (click)="cerrar.emit()">Historial clínico</a></div>
                    </div>
                </li>
            }
            @else {
                <li>
                    <div class="item-menu" (click)="cambioMenu('historialClinico')">Historial clínico</div>
                    <div class="sub-item" [class.show]="submenuAbierto === 'historialClinico'">
                        <div><a routerLink="/inicio/historialClinico" class="item" (click)="cerrar.emit()">Consultar</a></div>
                    </div>
                </li>
            }

            <li>
                <div class="item-menu" (click)="cambioMenu('configuracion')">Configuración</div>
                <div class="sub-item" [class.show]="submenuAbierto === 'configuracion'">
                    <div><a routerLink="/inicio/datosPersonales" class="item" (click)="cerrar.emit()">Datos personales</a></div>
                    @if(esAdminProfesional()) {
                        <div><a routerLink="/inicio/calendarioConfiguracion" class="item" (click)="cerrar.emit()">Calendario</a></div>
                        <div><a routerLink="/inicio/bloqueoHorarios" class="item" (click)="cerrar.emit()">Bloqueo horarios</a></div>
                        <div><a routerLink="/inicio/tiposConsulta" class="item" (click)="cerrar.emit()">Tipos de consulta</a></div>
                    }
                </div>
            </li>


            <li>
                <div class="item-menu">
                    <a (click)="cerrarSesion()">Cerrar sesión</a>
                </div>
            </li>
        </ul>
    </div>
</div>
