.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(2px);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
  z-index: 1999;
}

.sidebar-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 40vh;         
  height: 100%;
  background: #328A76;
  color: white;
  transform: translateX(-100%);  
  transition: transform .3s ease;
  z-index: 2000;
  padding-top: 20px;
}

.sidebar.open {
  transform: translateX(0);
}

.item-menu {
  padding: 14px 18px;
  color: #eaeaea;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sub-item {
  display: none;
}

.sub-item.show {
  display: block;
}

.item{
  padding-left: 40px;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  display: block;
  cursor: pointer;
}

.material-icons {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 20px;
}

.sub-item .material-icons {
  font-size: 15px;
  margin-right: 8px;
}

.arrow {
  margin-left: auto;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.label{
  vertical-align: middle;
}


.item-menu:hover, .sub-item div:hover {
  background: rgba(255,255,255,0.15);
}