.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(2px);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
  z-index: 1999;
}

.sidebar-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 40vh;         
  height: 100%;
  background: #328A76;
  color: white;
  transform: translateX(-100%);  
  transition: transform .3s ease;
  z-index: 2000;
  padding-top: 20px;
}

.sidebar.open {
  transform: translateX(0);
}

.item-menu {
  padding: 10px 15px;
  color: #eaeaea;
  text-decoration: none;
  cursor: pointer;
}

.item-menu:hover{
  background: #3CA18A;
}

.sub-item {
  display: none;
}

.sub-item.show {
  display: block;
}

.sub-item div:hover{
  background: #3CA18A;
}

.item{
    padding-left: 40px;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  display: block;
  cursor: pointer;
}
