.btn-filtro {
  margin: auto;
}

.card-citas{
  max-height: 70vh;
}

.icon-primary mat-icon {
  color: var(--color-principal);
}

.icon-primary:hover mat-icon {
  color: var(--color-hover);
}

.icon-error mat-icon {
  color: var(--color-error);
}

.icon-error:hover mat-icon {
  color: var(--color-error-hover);
}

.estado-badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
  max-height: 25px;
  cursor: pointer;
}