html, body {
  margin: 0;
  padding: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    /* outline: none; */
}

:root {
  --color-principal: #328A76;
  --color-hover: #3CA18A;
  --color-error: #dc3545;
  --color-error-hover: #e4606c;
}

.form-control:focus, .form-select:focus {
  outline: none;               
  border-color: var(--color-principal);  
  box-shadow: 0 0 0 0.25rem rgba(26,177,139,0.25); 
}

.form-control:hover, .form-select:hover {
  border-color: var(--color-hover);
}

.texto-primary {
  color:  var(--color-principal); 
}

label {
  color: var(--color-principal); 
}

.background-primary {
  background-color: var(--color-principal); 
  color: white;
  border: none;
  transition: background-color 0.2s ease;
}

.btn {
  color: white;
  border: none;
  transition: background-color 0.2s ease;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .375rem;
}

.btn-color-principal {
  background-color: var(--color-principal); 
}

.btn-color-principal:hover,
.btn-color-principal:focus,
.btn-color-principal:active,
.btn-color-principal:focus-visible  {
  color: white;
  background-color: var(--color-hover); 
}

.btn-color-error {
  background-color: var(--color-error); 
}

.btn-color-error:hover, .btn-color-error:focus {
  color: white;
  background-color: var(--color-error-hover);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card-header {
  background-color: var(--color-principal);
  color: white;
}

.container {
  width: 80%;
  margin: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Color del borde cuando tiene foco */
.mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
  border-color: var(--color-principal) !important;
}

/* Color del label cuando tiene foco */
.mat-mdc-form-field.mat-focused .mat-mdc-floating-label {
  color: var(--color-principal) !important;
}

.alert-app {
  padding: 0.75rem 1.25rem;
  border-radius: 0.375rem;
  border: 1px solid var(--color-principal);
  background-color: rgba(50, 138, 118, 0.15); 
  color: var(--color-principal);
  font-size: 0.95rem;
}
