html, body {
  margin: 0;
  padding: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

.form-control:focus {
  outline: none;               
  border-color: rgb(84 201 172);      
  box-shadow: 0 0 0 0.25rem rgba(26,177,139,0.25); 
}

.form-control:hover {
  border-color: rgb(84 201 172);
}

.texto-primary {
  color:  rgb(20, 150, 115);
}

label {
  color: rgb(20, 150, 115);
}

.background-primary {
  background-color: rgb(84 201 172);
  color: white;
  border: none;
  transition: background-color 0.2s ease;
}

.btn-color {
  display: inline-block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  color: white;
  background-color: rgb(84 201 172);
  border: none;
  border-radius: 0.375rem;
  box-shadow: none;
  outline: none;
  transition: background-color 0.2s ease;
}

.btn-color:hover {
  background-color: rgb(20,150,115);
}