html, body {
  margin: 0;
  padding: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

:root {
  --color-principal: #328A76;
  --color-hover: #3CA18A;
}

.form-control:focus {
  outline: none;               
  border-color: var(--color-principal);  
  box-shadow: 0 0 0 0.25rem rgba(26,177,139,0.25); 
}

.form-control:hover {
  border-color: var(--color-hover);
}

.texto-primary {
  color:  var(--color-principal); 
}

label {
  color: var(--color-principal); 
}

.background-primary {
  background-color: var(--color-principal); 
  color: white;
  border: none;
  transition: background-color 0.2s ease;
}

.btn-color {
  display: inline-block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  color: white;
  background-color: var(--color-principal); 
  border: none;
  border-radius: 0.375rem;
  box-shadow: none;
  outline: none;
  transition: background-color 0.2s ease;
}

.btn-color:hover {
  background-color: var(--color-hover); 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card-header {
  background-color: var(--color-principal);
  color: white;
}

.btn-principal {
  background-color: var(--color-principal);
  color: white;
  border: none;
  transition: background-color 0.2s ease;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .375rem;
}

.btn-principal:hover {
  background-color: var(--color-hover);
  color: white;
}

.container {
  width: 80%;
  margin: auto;
}