<div class="container mt-1">
    <div class="card shadow-sm mb-4">
        <div class="card-header">
            <h5 class="mb-0">Configuración del calendario</h5>
        </div>

        <div class="card-body">
            <div class="mb-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Hora inicio</mat-label>
                    <mat-select [(ngModel)]="horaInicio">
                    @for (h of horasLaborales; track h) {
                        <mat-option [value]="h">{{ h }}</mat-option>
                    }
                    </mat-select>
                </mat-form-field>         
            </div>

            <div class="mb-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Hora fin</mat-label>
                    <mat-select [(ngModel)]="horaFin">
                    @for (h of horasLaborales; track h) {
                        <mat-option [value]="h">{{ h }}</mat-option>
                    }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="mb-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Intervalo visual del calendario</mat-label>
                    <mat-select [(ngModel)]="intervaloBase">
                    <mat-option [value]="15">15 min</mat-option>
                    <mat-option [value]="30">30 min</mat-option>
                    <mat-option [value]="45">45 min</mat-option>
                    <mat-option [value]="60">60 min</mat-option>
                    <mat-option [value]="90">90 min</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Duración estándar de la cita</mat-label>
                        <mat-select [(ngModel)]="duracionGenerica">
                        <mat-option [value]="15">15 min</mat-option>
                        <mat-option [value]="30">30 min</mat-option>
                        <mat-option [value]="45">45 min</mat-option>
                        <mat-option [value]="60">60 min</mat-option>
                        <mat-option [value]="90">90 min</mat-option>
                        </mat-select>
                    </mat-form-field>         
            </div>

            <div style="text-align: center;">
                <button class="btn btn-color-principal" (click)="guardarConfiguracion()">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>