.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
}

.boton_login {
    background-color: #3d93c5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}